.vestibulum {
    margin-top: 120px;
}

.vestibulum__wrap {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.vestibulum__card-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.vestibulum__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vestibulum__card-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 330px;
    margin-left: 20px;
}

.vestibulum__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vestibulum__card-desc-bg-p {
    font-family: var(--GR);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--bg_p);
    text-transform: uppercase;
}

.vestibulum__card-desc-h {
    font-family: var(--GR);
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: var(--dark);
}

.vestibulum__card-desc-p {
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-p);
}

.vestibulum__card-desc-p span {
    font-family: var(--GB);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
}

@media screen and (max-width:850px) {
    .vestibulum__card {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .vestibulum__card-reverse {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .vestibulum__card-desc{
        align-items: center;
        text-align: center;
    }
    .vestibulum__wrap{
        gap: 60px;
    }
}
@media screen  and (max-width:380px){
 .vestibulum__card-desc{
    gap: 20px;
    max-width: 280px;
    margin-left: 0;
 }   
}